<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')  %>
<body>

<!-- ------------HEADER------------- -->
<%- include('./partials/header')  %> 
<!-- ------------HEADER------------- -->
    
<!-- ---------------CONTENEDOR PRODUCTOS------------------- -->
<div class="container2">
            <div class="row">

              <!-- --------------------COLUMNA MATCHES--------------------- -->
              <div class="col-lg-3 col-4 col-md-3" id="colswap">
        
                <h1 class="my-4">Swap</h1>
                <div class="col-12 col-md-12 col-lg-12" id="Columna-matches">
                  <div class="col-12 col-lg-6" id="matches" >
                    <section class="product-box">
                      <a href='' >
                        <figure class="product-box_image">
                          <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                        </figure>
                        <article class="product-box_data">
                          <p>Descripcion</p>
                        </article>
                      </a>
                    </section>
                  </div>
                  <div class="col-12 col-lg-6" id=matches>
                    <section class="product-box">
                      <a href='' >
                        <figure class="product-box_image">
                          <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                        </figure>
                        <article class="product-box_data">
                          <p>descripcion</p>
                        </article>
                      </a>
                    </section>
                  </div>
                  <div class="col-12 col-lg-6" id=matches>
                    <section class="product-box">
                      <a href='' >
                        <figure class="product-box_image">
                          <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                        </figure>
                        <article class="product-box_data">
                          <p>descripcion</p>
                        </article>
                      </a>
                    </section>
                  </div>
                  <div class="col-12 col-lg-6" id=matches>
                    <section class="product-box">
                      <a href='' >
                        <figure class="product-box_image">
                          <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                        </figure>
                        <article class="product-box_data">
                          <p>descripcion</p>
                        </article>
                      </a>
                    </section>
                  </div>
                  <div class="col-12 col-lg-6" id=matches>
                    <section class="product-box">
                      <a href='' >
                        <figure class="product-box_image">
                          <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                        </figure>
                        <article class="product-box_data">
                          <p>descripcion</p>
                        </article>
                      </a>
                    </section>
                  </div>
                  <div class="col-12 col-lg-6" id=matches>
                    <section class="product-box">
                      <a href='' >
                        <figure class="product-box_image">
                          <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                        </figure>
                        <article class="product-box_data">
                          <p>descripcion</p>
                        </article>
                      </a>
                    </section>
                  </div>
                  <div class="col-12 col-lg-6" id=matches>
                    <section class="product-box">
                      <a href='' >
                        <figure class="product-box_image">
                          <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                        </figure>
                        <article class="product-box_data">
                          <p>descripcion</p>
                        </article>
                      </a>
                    </section>
                  </div>
                  <div class="col-12 col-lg-6" id=matches>
                    <section class="product-box">
                      <a href='' >
                        <figure class="product-box_image">
                          <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                        </figure>
                        <article class="product-box_data">
                          <p>descripcion</p>
                        </article>
                      </a>
                    </section>
                  </div>
                  <div class="col-12 col-lg-6" id=matches>
                    <section class="product-box">
                      <a href='' >
                        <figure class="product-box_image">
                          <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                        </figure>
                        <article class="product-box_data">
                          <p>descripcion</p>
                        </article>
                      </a>
                    </section>
                  </div>
                  <div class="col-12 col-lg-6" id=matches>
                    <section class="product-box">
                      <a href='' >
                        <figure class="product-box_image">
                          <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                        </figure>
                        <article class="product-box_data">
                          <p>descripcion</p>
                        </article>
                      </a>
                    </section>
                  </div>
                </div>
              </div>
      
           <!-- --------------------COLUMNA MATCHES--------------------- -->
              
            <!-- --------------------DETALLE PRODUCTOS--------------------- -->

              <div class="col-lg-9 col-8 col-md-9">
                <h1 class="detallesProducto"><%= producto.nombre %></h1>
                <div class="row">
                  <div class="col-lg-4 col-md-6 mb-4">
                  <div class="slider">
                    <input type="radio" name="toggle" id="btn-1" checked>
                    <input type="radio" name="toggle" id="btn-2">
                    <input type="radio" name="toggle" id="btn-3">
                  
                    <div class="slider-controls">
                      <label for="btn-1"></label>
                      <label for="btn-2"></label>
                      <label for="btn-3"></label>
                    </div>
                  
                    <ul class="slides">
                      <li class="slide">
                        <div>
                        <img src="/images/products/<%=producto.imagen%>" id="imgslider">
                      </div>
                    
                      </li>
                      <li class="slide">
                        <div>
                        <img src="/images/products/<%=producto.imagen%>" id="imgslider">
                      </div>
                    
                      </li>
                      <li class="slide">
                        <div>
                        <img src="/images/products/<%=producto.imagen%>" id="imgslider">
                      </div>
                    
                      </li>
                      </li>
                    </ul>
                  </div>
                </div>

                   <!-- <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                          <a href="#"><img src="/images/products/<%=producto.imagen%>" alt="imagen de producto" class= "foto-matches"></a>
                        </div>  
                      </div>
        
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="#"><img src="/images/products/<%=producto.imagen%>" alt="imagen de producto" class= "foto-matches"></a>
                    </div>  
                  </div>
        
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="#"><img src="/images/products/<%=producto.imagen%>" alt="imagen de producto" class= "foto-matches"></a>
                    </div>  
                  </div>
                -->
                
                
               <div class="col-lg-1"></div>
                
                <div class="col-lg-7 ">
                  <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><%= producto.nombre_usuario %></li>
                        <li class="list-group-item"><%= producto.categoria %></li>
                        <li class="list-group-item"><%= producto.descripcion %></li>
                        <li class="list-group-item"><%= producto.precio %></li>
                        <li class="list-group-item"><%= producto.zona %></li>  
                    </ul>
                  </div>
        <!--
                  <div class="map col-3 col-md-6 col-lg-10">
                    <iframe class="map2"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.1963973298784!2d-58.44561812146012!3d-34.548582433222876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb436efe09303%3A0xfb39818e7624ac76!2sDigital%20House!5e0!3m2!1ses-419!2sar!4v1590330910602!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </div>-->

                    
                <div class="botones-detalle">
                  <form action="/products/<%= producto.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                      <button type="submit" class="action-button delete">ELIMINAR</button>
                  </form>
                </div>
                  
              </div>           
            </div>
            <!-- --------------------DETALLE PRODUCTOS--------------------- -->
          </div>
        </div>
<!-- ---------------CONTENEDOR PRODUCTOS------------------- -->

<!-- ------------FOOTER------------ -->
<%- include('./partials/footer')  %> 
<!-- ------------FOOTER------------- -->

</body>
</html>
