<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head')  %>

<body class="fondo">

<!-- ------------HEADER------------- -->
<%- include('./partials/header')  %> 
<!-- ------------HEADER------------- -->
    
<!-- -----------------FORMULARIO CARGA PRODUCTO----------------- -->
<div class="container">
  <div class="row">
<div class="col-lg-4 col-md-4 .hidden-sm d-none d-mg-block d-lg-block">
  <img src="/images/products/<%=producto.imagen%>" id="imgslider">
  <img src="/images/products/<%=producto.imagen%>" id="imgslider">
  <img src="/images/products/<%=producto.imagen%>" id="imgslider"></div>
<div class="col-lg-8 col-md-12 col-12">
<div class="wrapper fadeInDown">
	
	<div id="formContent">
	  <!-- Tabs Titles -->
  
	  <!-- Icon -->
	  <div class="fadeIn first">
		<img src="/images/logo-nar.png" id="icon" alt="User Icon" >
	  </div>
  
    <!-- Login Form -->
    
	  <form action="/products/edit/<%=producto.id%>?_method=PUT" method="post">
      <label for="nombre">Nombre del producto</label><br>
      <input type="text" class="form-control" id="nombre" name="nombre" value="<%=producto.nombre%>">

            
            <label for="categoria">Categoria</label><br>
            <select id="categoria" type="categoria" name="categoria">
              <option value="" disabled selected hidden><%=producto.categoria%></option>
              <option >Electronica</option>
              <option >Moda</option>
              <option >Hogar</option>
              <option >Inmuebles</option>
              <option >Bazar</option>
            </select><br>

            

            <label for="estado">Estado</label><br>
              <select type="categoria" name="estado" id="estado">
                <option value="nuevo">&#9733; &#9734; &#9734; &#9734; &#9734</option>
                <option value="usado">&#9733; &#9733; &#9734; &#9734; &#9734</option>
                <option value="nuevo">&#9733; &#9733; &#9733; &#9734; &#9734</option>
                <option value="" disabled selected hidden>&#9733; &#9733; &#9733; &#9733; &#9734</option>
                <option value="nuevo">&#9733; &#9733; &#9733; &#9733; &#9733</option>
                
              </select>

              <label for="precio">Precio del producto</label><br>
                <input id="precio" name="precio" type="text" value="<%=producto.precio%>">

            <label for="descripcion">Descripcion del producto</label><br>
            <textarea type="text" class="form-control" id="descripcion" name="descripcion" rows="8" value="<%=producto.descripcion%>"><%=producto.descripcion%></textarea><br>

            <label for="zona">Zona</label><br>
                <input id="zona" name="zona" type="text" class="form-control" value="<%=producto.zona%>">

                <label for="fotos">Cargar Fotos</label>
                
                  <div class="custom-file" style="width: 90%;">
                    <input type="text" class="custom-file-input" id="customFile" name="customFile">
                    <label class="custom-file-label" for="customFile">Fotos</label>
                  </div>
                
		<br>
		<br>

    
		<input type="submit" class="fadeIn second" value="Editar">
	  </form>
  
	  
	</div>

  </div></div>
</div></div>
    

<!-- -----------------FORMULARIO CARGA PRODUCTO----------------- -->

<!-- ------------FOOTER------------ -->
<%- include('./partials/footer')  %> 
<!-- ------------FOOTER------------- -->

</body>

<!-- ---------------JAVASCRIPT------------------- -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- ---------------JAVASCRIPT------------------- -->
</html>