<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')  %> 

<body>
<!-- ------------HEADER------------- -->
<%- include('./partials/header')  %>
<!-- ------------HEADER------------- -->

<!-- ------------LISTA DE PRODUCTOS------------- -->

  

<div class="row general" style="margin: auto;">

            <!-- --------------------COLUMNA MATCHES--------------------- -->

  <div class=".hidden-sm col-lg-3 col-md-3 d-none d-mg-block d-lg-block" id="colswap" style="height: auto;padding-left: 15px;padding-right: 15px;">

    <div class="slider slider custom-scrollbar-css p-2  " style="width: auto; height: 1405px; overflow-y: scroll;padding: 0px;">

      <input type="radio" name="toggle" id="btn-1" checked>
      <input type="radio" name="toggle" id="btn-2">
          
        <div class="slider-controls" style="height: 60px;">
            
            <label for="btn-1"></label>
            
            <label for="btn-2"></label>
            
        </div>
        
          <ul class="slides">

            <li class="slide">
              
              <div>
                <div class="col-12 col-md-12 col-lg-12" style="text-align: center;margin-top: 15px;margin-bottom: 0px;">

                <h2 style="height:30px; margin: 30px;margin-top: 50px;">Swapp</h2>
                </div>

                <div class="col-12 col-md-12 col-lg-12" id="Columna-matches">

                  

                  
                  <% filtrados.forEach(producto => {%> 
                                      
                    
                  <div class="col-12 col-md-12 col-lg-12" id="matches" style="margin-bottom: 10px;">
                    <div class="hovereffect">
                      <img src="/images/products/<%=producto.foto_portada%>" style="width: 100%;margin-right: auto;">
                          <div class="overlay">
                              <h2><%=producto.usuarios.nombre%></h2>
                      <p>
                        <a style="font-size:large; margin-top: -20px;"><%=producto.usuarios.telefono%></a><br>
                        <a href='/products/<%=producto.id%>'>More info</a>
                        
                      </p>
                          </div>
                  </div>

                  </div>
                  <% })%>
                  
                </div>
               
              </div>
          
            </li>

             <li class="slide">
              
                 <div class="col-12 col-md-12 col-lg-12" style="text-align: center;margin-top: 15px;margin-bottom: 0px;">
                  <h2 style="height:30px; margin: 30px;margin-top: 50px;">Mis productos</h2>
                 

                  <div class="col-12 col-md-12 col-lg-12" id="Columna-matches">

                   <% productosNuestros.forEach(producto => {%> 
                    <div class="col-12 col-md-12 col-lg-12" id="matches" style="margin-bottom: 10px;">

                    <div class="hovereffect">
                      <img src="/images/products/<%=producto.foto_portada%>"  style="width: 100%;margin-right: auto;">
                          <div class="overlay">
                              <a href='/products/<%=producto.id%>'><%= producto.nombre %></a><br>
                              <a href='/products/edit/<%=producto.id%>' class='editar'>
                                <button type="submit" class="btn btn-secondary btn-sm">Editar</button>
                               </a><br>
                          
                            
                                <form action="/products/<%= producto.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                                  <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                          </div>
                  </div> 
                                     
                   </div>                                  
                    <% })%> 
                  </div>
              </div>         
             </li>                       
          </ul>
    </div>
        
  </div>           
            <!-- --------------------COLUMNA MATCHES--------------------- -->

            <!-- -------------------PRODUCTOS--------------------- -->
      
  <div class="col-lg-9 col-12 col-md-12 " id="colProduct" >
        
    <div class="row" style="margin-top: 40px;">
      <%filtrados3.forEach(producto =>{%> 
        
            <div class="col-12 col-md-6 col-lg-4 contenedor-producto" style>
              <div class="card h-100" style="border-radius: 30px; box-shadow: black;">
                <div class="d-flex align-items-center" style="height: 350px;">
                <a href="/products/<%=producto.id%>" ><img src="/images/products/<%=producto.foto_portada%>" alt="imagen de producto"  class= "foto-productos" style="max-height: 320px;">                  
                </a>
              </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/products/<%=producto.id%>"><%= producto.nombre %></a>
                  </h4>
                  
                  <p class="card-text">Donde se encuentra:<%= producto.usuarios.localidad %>  </p>
                  
                    <form action="/products/<%=producto.id%>" method="POST"> 
                      <div class="botones">
                    <button class="btn btn-outline-danger" href="/products" id="butnok" type="submit" value="0" name="me_gusta">
                      <i class="fa fa-times fa-3x" aria-hidden="true"></i> <br></button>
                    <button class="btn btn-outline-success" id="butok" href="/products" type="submit" value="1" name="me_gusta">
                      <i class="fa fa-check fa-3x" aria-hidden="true"></i> <br></button>
                    </div>
                    </form>
                    
                </div>
                <div class="card-footer">
                  <small class="text-muted">Estado del producto: &#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div> 
            </div>
            
            <% })%>        
      </div>            
  </div>
              <!-- -------------------PRODUCTOS--------------------- -->
</div>
  
<!-- ------------LISTA DE PRODUCTOS------------- -->

<!-- ------------FOOTER------------ -->
<%- include('./partials/footer')  %> 
<!-- ------------FOOTER------------- -->

<!-- ------------JAVASCRIPT------------- -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!-- ------------JAVASCRIPT------------- -->

</body>
</html>