<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')  %> 

<body>
<!-- ------------HEADER------------- -->
<%- include('./partials/header')  %> 
<!-- ------------HEADER------------- -->

<!-- ------------LISTA DE PRODUCTOS------------- -->

  <div class="container2" >

    <div class="row general">

            <!-- --------------------COLUMNA MATCHES--------------------- -->
      <div class="col-lg-3 col-4 col-md-3" id="colswap">
        <h1 class="my-4">Swap</h1>
          <div class="col-12 col-md-12 col-lg-12" id="Columna-matches">
            <% for(let i=7;i<10;i++) {%> 
            <div class="col-12 col-lg-6" id="matches" >
              
              <section class="product-box">
                <a href='' >
                  <figure class="product-box_image">
                    <img src="/images/products/<%=listaProductosJS[i].imagen%>" alt="imagen de producto" class= "foto-matches">
                  </figure>
                  <article class="product-box_data">
                    <p><%= listaProductosJS[i].nombre %></p>
                  </article>
                </a>
              </section>
              
            </div>
            <% }%> 
          </div>
        </div>
      
        <!--
            <% for(let i=0;i<6;i++) {%> 
            <div class="col-12 col-md-6 col-lg-4 contenedor-producto">
              <div class="card h-100">
                <a href="/products/<%=listaProductosJS[i].id%>"><img src="/images/products/<%=listaProductosJS[i].imagen%>" alt="imagen de producto" class= "foto-productos"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#"><%= listaProductosJS[i].nombre %></a>
                  </h4>
                  <p class="card-text">Donde se encuentra: <%= listaProductosJS[i].zona %></p>
                  <div class="botones">
                    <a class="btn btn-outline-danger" href="#">
                      <i class="fa fa-times fa-3x" aria-hidden="true"></i> <br></a>
                    <a class="btn btn-outline-success" href="#">
                      <i class="fa fa-check fa-3x" aria-hidden="true"></i> <br></a>
                    </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Estado del producto: &#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div> 
            </div>
            <% }%> 

        <div class="col-12 col-md-12 col-lg-12" id="Columna-matches">
          <div class="col-12 col-lg-6" id="matches" >
            <section class="product-box">
              <a href='' >
                <figure class="product-box_image">
                  <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                </figure>
                <article class="product-box_data">
                  <p>Descripcion</p>
                </article>
              </a>
            </section>
          </div>
          <div class="col-12 col-lg-6" id=matches>
            <section class="product-box">
              <a href='' >
                <figure class="product-box_image">
                  <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                </figure>
                <article class="product-box_data">
                  <p>descripcion</p>
                </article>
              </a>
            </section>
          </div>
          <div class="col-12 col-lg-6" id=matches>
            <section class="product-box">
              <a href='' >
                <figure class="product-box_image">
                  <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                </figure>
                <article class="product-box_data">
                  <p>descripcion</p>
                </article>
              </a>
            </section>
          </div>
          <div class="col-12 col-lg-6" id=matches>
            <section class="product-box">
              <a href='' >
                <figure class="product-box_image">
                  <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                </figure>
                <article class="product-box_data">
                  <p>descripcion</p>
                </article>
              </a>
            </section>
          </div>
          <div class="col-12 col-lg-6" id=matches>
            <section class="product-box">
              <a href='' >
                <figure class="product-box_image">
                  <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                </figure>
                <article class="product-box_data">
                  <p>descripcion</p>
                </article>
              </a>
            </section>
          </div>
          <div class="col-12 col-lg-6" id=matches>
            <section class="product-box">
              <a href='' >
                <figure class="product-box_image">
                  <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                </figure>
                <article class="product-box_data">
                  <p>descripcion</p>
                </article>
              </a>
            </section>
          </div>
          <div class="col-12 col-lg-6" id=matches>
            <section class="product-box">
              <a href='' >
                <figure class="product-box_image">
                  <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                </figure>
                <article class="product-box_data">
                  <p>descripcion</p>
                </article>
              </a>
            </section>
          </div>
          <div class="col-12 col-lg-6" id=matches>
            <section class="product-box">
              <a href='' >
                <figure class="product-box_image">
                  <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                </figure>
                <article class="product-box_data">
                  <p>descripcion</p>
                </article>
              </a>
            </section>
          </div>
          <div class="col-12 col-lg-6" id=matches>
            <section class="product-box">
              <a href='' >
                <figure class="product-box_image">
                  <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                </figure>
                <article class="product-box_data">
                  <p>Titulo</p>
                </article>
              </a>
            </section>
          </div>
          <div class="col-12 col-lg-6" id=matches>
            <section class="product-box">
              <a href='' >
                <figure class="product-box_image">
                  <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
                </figure>
                <article class="product-box_data">
                  <p>descripcion</p>
                </article>
              </a>
            </section>
          </div>
          -->
       
            <!-- --------------------COLUMNA MATCHES--------------------- -->

            <!-- -------------------PRODUCTOS--------------------- -->
      
      <div class="col-lg-9 col-8 col-md-9" id="colProduct">
        <h1 class="my-4">Nuestros productos</h1>

        <div class="row">
          <% for(let i=0;i<6;i++) {%> 
            <div class="col-12 col-md-6 col-lg-4 contenedor-producto">
              <div class="card h-100">
                <a href="/products/<%=listaProductosJS[i].id%>"><img src="/images/products/<%=listaProductosJS[i].imagen%>" alt="imagen de producto" class= "foto-productos"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#"><%= listaProductosJS[i].nombre %></a>
                  </h4>
                  <p class="card-text">Donde se encuentra: <%= listaProductosJS[i].zona %></p>
                  <div class="botones">
                    <a class="btn btn-outline-danger" href="#">
                      <i class="fa fa-times fa-3x" aria-hidden="true"></i> <br></a>
                    <a class="btn btn-outline-success" href="#">
                      <i class="fa fa-check fa-3x" aria-hidden="true"></i> <br></a>
                    </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Estado del producto: &#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div> 
            </div>
            <% }%> 
         <!-- <% listaProductosJS.forEach(producto =>{ %>
          <div class="col-12 col-md-6 col-lg-4 contenedor-producto">
            <div class="card h-100">
              <a href="/products/<%=producto.id%>"><img src="/images/products/<%=producto.imagen%>" alt="imagen de producto" class= "foto-productos"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"><%= producto.nombre %></a>
                </h4>
                <p class="card-text">Donde se encuentra: <%= producto.zona %></p>
                <div class="botones">
                  <a class="btn btn-outline-danger" href="#">
                    <i class="fa fa-times fa-3x" aria-hidden="true"></i> <br></a>
                  <a class="btn btn-outline-success" href="#">
                    <i class="fa fa-check fa-3x" aria-hidden="true"></i> <br></a>
                  </div>
              </div>
              <div class="card-footer">
                <small class="text-muted">Estado del producto: &#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div> 
          </div>
          <% }) %> -->
      </div>
             <!-- -------------------PRODUCTOS--------------------- -->
    </div>

  </div>
  
<!-- ------------LISTA DE PRODUCTOS------------- -->

<!-- ------------FOOTER------------ -->
<%- include('./partials/footer')  %> 
<!-- ------------FOOTER------------- -->

<!-- ------------JAVASCRIPT------------- -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- ------------JAVASCRIPT------------- -->

</body>
</html>